.products {
    margin-left: 30px;
    .nav-categories {
        div {
            position: sticky;
            top: 100px;
        }
    }

    .subtitle {
        font-size: $title_font_size;
        margin-bottom: 30px;
    }

    .nav-products {
        list-style: none;
        padding-left: 0;
        a {
            color: $primary_color;
        }
    }

    .hidden-top {
        visibility: hidden;
        height: 100px;
        margin-top: -100px;
    }

    .col-md-10 {
        padding-left: 15px;
        margin-top: 0px;
        .images-container {
            box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px,
                rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
            padding: 15px 0 0;
        }
        img {
            margin-bottom: 15px;
            object-fit: contain;
            transition: 250ms linear;
        }
        img:hover {
            transform: scale(1.8);
            z-index: 2;
        }
    }

    .col-md-3 {
        margin-bottom: 0px;
    }

    .table-responsive {
        margin-top: 30px;
        margin-bottom: 100px;
        box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px,
            rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
        margin: 30px -15px;
        width: calc(100% + 30px);
    }

    @media (max-width: 768px) {
        .nav-categories {
            position: relative;
        }
    }

    @media (max-width: 575px) {
        &.container {
            margin-left: 0px;
        }
    }
}
